fastapi
uvicorn[standard]
pymongo
motor
python-multipart
python-dotenv
pydantic
pydantic-settings
PyPDF2
python-docx
numpy
scikit-learn
sentence-transformers
pytest
pytest-asyncio
httpx
aiohttp
aiofiles